/* ---------------------------------
 *       Override CSS Framework
 * --------------------------------- */
html {
  font-size: 14px;
}
body {
  font-family: "Ubuntu", "Roboto", "Open Sans", "Microsoft YaHei", sans-serif;
  background-color: #f7f7f7;
}
@media screen and (min-width: 1280px) {
  .is-1-column .container,
  .is-2-column .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (min-width: 1472px) {
  .is-2-column .container {
    max-width: 1152px;
    width: 1152px;
  }
  .is-1-column .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding: 1.5rem 1rem;
  }
}
.column-main,
.column-left,
.column-right {
  align-self: flex-start;
}
.column-main.is-sticky,
.column-left.is-sticky,
.column-right.is-sticky {
  position: sticky;
  top: 0.75rem;
}
.card {
  overflow: hidden;
  border-radius: 4px;
  transform-origin: center top;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.1);
}
.card + .card {
  margin-top: 1.5rem;
}
.card.card-transparent {
  overflow: visible;
  box-shadow: none;
  background: transparent;
}
img.thumbnail {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-logo img,
.footer-logo img {
  max-height: 1.75rem;
}
.navbar-main {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.navbar-main .navbar-menu,
.navbar-main .navbar-start,
.navbar-main .navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}
.navbar-main .navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
  overflow-x: auto;
}
.navbar-main .navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-main .navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
.navbar-main .navbar-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0.75rem;
}
.navbar-main .navbar-item.is-active {
  color: #3273dc;
  background-color: transparent;
}
@media screen and (max-width: 1087px) {
  .navbar-main .navbar-menu {
    justify-content: center;
    box-shadow: none;
  }
  .navbar-main .navbar-start {
    margin-right: 0;
  }
  .navbar-main .navbar-end {
    margin-left: 0;
  }
}
.footer {
  background: #fff;
}
.footer .field .button {
  background: transparent;
}
.widget .media {
  border: none;
}
.widget .media + .media {
  margin-top: 0;
}
.widget .menu-list li ul {
  margin-right: 0;
}
.widget .menu-list a.level {
  display: flex;
}
.pagination .pagination-link:not(.is-current),
.pagination .pagination-previous,
.pagination .pagination-next {
  background: #fff;
  border: none;
}
.pagination .pagination-link,
.pagination .pagination-previous,
.pagination .pagination-next {
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.post-navigation {
  justify-content: space-around;
}
.post-navigation .level-item {
  margin-bottom: 0;
}
.timeline {
  margin-left: 1rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  border-left: 1px solid #dbdbdb;
}
.timeline .media {
  position: relative;
}
.timeline .media:before,
.timeline .media:last-child:after {
  content: '';
  display: block;
  position: absolute;
  left: calc(-5px - 1.5rem);
}
.timeline .media:before {
  width: 9px;
  height: 9px;
  top: 1.3rem;
  background: #dbdbdb;
  border-radius: 50%;
}
.timeline .media:first-child:before {
  top: 0.3rem;
}
.timeline .media:last-child:after {
  top: calc(1.3rem + 9px);
  width: 9px;
  bottom: 0;
  background: #fff;
}
.timeline .media:first-child:last-child:after {
  top: calc(0.3rem + 9px);
}
.article .article-meta {
  margin-bottom: 0.5rem !important;
}
.article .content {
  font-size: 1.1rem;
}
.article .content blockquote.pullquote {
  float: right;
  max-width: 50%;
  font-size: 1.15rem;
  position: relative;
}
.rtl {
  direction: rtl;
}
.rtl .level .level-item:not(:last-child),
.rtl .level.is-mobile .level-item:not(:last-child) {
  margin-left: 0.75rem;
  margin-right: 0;
}
/* ---------------------------------
 *         Custom modifiers
 * --------------------------------- */
.is-size-7 {
  font-size: 0.85rem !important;
}
.is-7by1 {
  padding-top: 42.8%;
}
.is-7by1 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.is-overflow-x-auto {
  overflow-x: auto !important;
}
.is-flex-grow {
  flex-grow: 1 !important;
}
.is-flex-wrap {
  flex-wrap: wrap !important;
}
.is-flex-start {
  justify-content: start !important;
}
.is-flex-center {
  justify-content: center !important;
}
.is-flex-middle {
  align-items: center !important;
}
.has-order-1 {
  order: 1;
}
.has-order-2 {
  order: 2;
}
.has-order-3 {
  order: 3;
}
.has-mr-6 {
  margin-right: 0.5em !important;
}
.has-mb-6 {
  margin-bottom: 0.5em !important;
}
.has-mr-7 {
  margin-right: 0.25em !important;
}
.has-link-grey,
.has-link-black-ter {
  transition: 0.2s ease;
}
.has-link-grey:hover,
.has-link-black-ter:hover {
  color: #3273dc !important;
}
.has-link-grey {
  color: #7a7a7a !important;
}
.has-link-black-ter {
  color: #242424 !important;
}
@media screen and (max-width: 768px) {
  .has-text-centered-mobile {
    text-align: center !important;
  }
  .is-flex-center-mobile {
    justify-content: center !important;
  }
  .has-mt-5-mobile {
    margin-top: 1em !important;
  }
}
/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa,
.fab,
.fal,
.far,
.fas {
  line-height: inherit;
}
/* ---------------------------------
 *        Fix content elements
 * --------------------------------- */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 400;
}
.content h1 {
  font-size: 1.75em;
}
.content h2 {
  font-size: 1.5em;
}
.content h3 {
  font-size: 1.25em;
}
.content h4 {
  font-size: 1.125em;
}
.content h5 {
  font-size: 1em;
}
.content code,
.content pre {
  font-size: 0.85em;
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
.content code {
  color: #ff3860;
  background: transparent;
  padding: 0;
}
.content blockquote footer strong + cite {
  margin-left: 0.5em;
}
/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
figure.highlight {
  padding: 0;
  width: 100%;
  margin: 1em 0 1em !important;
}
figure.highlight pre,
figure.highlight table tr:hover {
  color: inherit;
  background: transparent;
}
figure.highlight table {
  width: auto;
}
figure.highlight pre {
  padding: 0;
  overflow: visible;
}
figure.highlight pre .line {
  line-height: 1.5rem;
}
figure.highlight figcaption,
figure.highlight .gutter {
  background: rgba(200,200,200,0.15);
}
figure.highlight figcaption {
  padding: 0.3em 0.75em;
  text-align: left;
  font-style: normal;
  font-size: 0.8em;
}
figure.highlight figcaption span {
  font-weight: 500;
  font-family: "Source Code Pro", monospace, "Microsoft YaHei";
}
figure.highlight figcaption a {
  float: right;
  color: #9a9a9a;
}
figure.highlight .gutter {
  text-align: right;
}
figure.highlight .tag,
figure.highlight .title,
figure.highlight .number,
figure.highlight .section {
  display: inherit;
  font: inherit;
  margin: inherit;
  padding: inherit;
  background: inherit;
  height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  min-width: inherit;
  border-radius: inherit;
}
/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist table tr:hover {
  background: transparent;
}
.gist table td {
  border: none;
}
.gist .file {
  all: initial;
}
